#profile {
  display: flex;
  justify-content: center;
  padding: 50px 50px 0 50px;
  margin: 50px;
}

#course-image {
  width: 500px;
  height: 400px;
  margin-right: 150px;
  overflow: hidden;
}

h4,
h5,
p {
  text-align: left;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

#page-title {
  margin-bottom: 50px;
}

.button-row {
  display: flex;
  margin-top: 80px;
}

#course-introduction .profile-style {
  height: 250px;
}

.modal-style {
  text-align: right;
}

.my-btn {
  height: 35px;
  margin-right: 20px;
  font-size: 16px;
}

.qrcode-margin-style {
  margin-left: 20px;
}

.alipay-title {
  margin-left: 100px;
}

.wxpay-title {
  margin-left: 180px;
}

.qrcode-style {
  margin-left: 20px;
}

.pay-method-style {
  height: 100px;
}

.modal-input {
  width: 100%;
  border: none;
}

.textarea-style {
  height: 60px;
  resize: none;
  outline: none;
}
