#profile {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px 0;
  margin: 50px;
}

.origin-value {
  text-decoration: line-through;
}

#course-image,
#introduction {
  width: 28%;
  height: 250px;
  margin: 0 50px;
}

#course-image {
  overflow: hidden;
  vertical-align: middle;
}

.img-thumbnail {
  width: 400px;
  height: 250px;
}

h3,
h5,
p {
  text-align: left;
}

h3 {
  font-weight: bold;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.price-time {
  padding: 10px 20px;
}

h6 {
  margin: 3px 0;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-style {
  text-align: right;
}

.my-btn {
  width: 80px;
  height: 40px;
  margin-right: 20px;
  font-size: 16px;
}

.qrcode-margin-style {
  margin-left: 20px;
}

.alipay-title {
  margin-left: 100px;
}

.wxpay-title {
  margin-left: 180px;
}

.qrcode-style {
  margin-left: 20px;
}

.pay-method-style {
  height: 100px;
}

.modal-input {
  width: 100%;
  border: none;
}

.textarea-style {
  height: 60px;
  resize: none;
  outline: none;
}

.detail {
  height: calc(86vh - 360px);
  padding: 5% 0;
  background-color: #eee;
}

#detail-introduction {
  width: 58%;
  padding: 20px 50px;
  background-color: white;
}

h5,
p {
  margin-bottom: 10px;
}
